<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Sisteme Giriş</h1>
  </div>

  <div class="form-label-group">
    <input type="text" #username="ngModel" [(ngModel)]="model.username" id="username" name="username" class="form-control" placeholder="Kullanıcı Adı" required autofocus>
    <label for="inputEmail">Kullanıcı Adı</label>
  </div>

  <div class="form-label-group">
    <input type="password" #password="ngModel" [(ngModel)]="model.password" id="password" name="password" class="form-control" placeholder="Password" required>
    <label for="inputPassword">Password</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Giriş</button>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
</form>