<h3 *ngIf="products; else noProduct">{{title}}</h3>


<div class="row">
	<ng-template #noProduct>
		<div class="alert alert-primary" role="alert">
			Bu kategoride ürün yoktur.
		</div>
	</ng-template>

	<div *ngFor="let product of products" class="card" style="width: 18rem;">
		<img [src]="product.imageUrl" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{product.name}} - <small>{{product.price}} TL</small></h5>
			<p class="card-text">{{product.description}}</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div>
</div>